section#about
  main
    .frame-content
      .flex  
        //- .shell
        .introduction
          div
            img(src='/images/illo_mystic-key@2x.png')
            h2.headline.large Anybeast is a digital design and strategy SWAT team based in NYC
            p.caps @Amanda !! Infusing our clients with fresh thinking and expert design
        .separate
          div 
            svg(height='125px' width='2px')
              line(x1="0" y1="0" x2="0" y2="125" style="stroke:rgb(188,149,106);stroke-width:2") 
        .disciplines
          div
            p.caps We leverage
            h2.end.headline.large Street smarts, industry knowledge and wondrous disciplines of design
            p.caps To create the future
            .shapes
              .ux
                img(src='/images/illo_ux@2x.png')
              .content
                img(src='/images/illo_content@2x.png')
              .visual
                img(src='/images/illo_visual@2x.png')
        .divide
 
