#about
	background-block()

	& > main
		position relative

		.frame-content
			margin 0 auto
			text-align center
			width 85%
			height 100%

		 	.flex
				center-block()

				.introduction
					width 70%
					center-block()
					min-height 600px
					margin-bottom $baseline*5

					& > div
						img
							max-width 130px
							margin-bottom $baseline*4

							@media $tablet
								max-width 180px

						h2
							margin-bottom $baseline*4

				.separate
					height 125px
					width 100%
					margin 0 auto
					margin-bottom $baseline*12

				.disciplines
					width 100%
					center-block()
					min-height 900px

					p
						width 90%
						margin 0 auto $baseline*3

						@media $tablet
							width 70%

					h2
						width 90%
						margin 0 auto $baseline*3

						@media $tablet
							width 60%


					.shapes
						@media $phone
							text-align center
							margin-top $baseline*6
							margin-bottom $baseline*12

						@media $tablet
							flexbox()
							justify-content center
							flex-wrap wrap
							margin-top $baseline*6

						@media $desktop
							flex-wrap nowrap

						.ux
							// max-width 250px
							width 70%
							margin 0 auto $baseline*4

							@media $tablet
								width 40%
								margin 0 20px 0 0

							@media $desktop
								max-width 250px
								width 40%
								margin 0 27px 0 0

						.content
							width 70%
							margin 0 auto $baseline*4

							@media $tablet
								width 45%
								margin 0 0 0 10px

							@media $desktop
								max-width 285px
								padding-bottom 50px
								margin 0 25px 0 0
								width 40%

						.visual
							width 70%
							margin 0 auto $baseline*4

							@media $tablet
								width 38%
								margin-top $baseline*3

							@media $desktop
								max-width 240px
								width 40%
								margin 0 0 0 15px
